.vscode/
bin/Debug/netcoreapp3.1/Pokemon.deps.json
bin/Debug/netcoreapp3.1/Pokemon.dll
bin/Debug/netcoreapp3.1/Pokemon.pdb
bin/Debug/netcoreapp3.1/Pokemon.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Pokemon.runtimeconfig.json
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Pokemon.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Pokemon.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Pokemon.assets.cache
obj/Debug/netcoreapp3.1/Pokemon.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Pokemon.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Pokemon.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Pokemon.dll
obj/Debug/netcoreapp3.1/Pokemon.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Pokemon.pdb
obj/Pokemon.csproj.nuget.dgspec.json
obj/Pokemon.csproj.nuget.g.props
obj/Pokemon.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
bin/Debug/.DS_Store
